* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    background-color: #0a0a0a;
    color: #fff;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
}
.categories-grid a {
    color: #050404;
    text-decoration: none;
    
}

.nav-links a:hover {
    text-decoration: underline;
}

.categories-container {
    text-align: center;
    margin: 2rem;
}

.categories-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 1.5rem;
}

.category-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease;
}

.category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.category-card h3 {
    padding: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.category-card:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #070707;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .categories-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .categories-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
